<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- @author 이영훈 -->

<head>
  <meta charset="UTF-8" />
  <th:block layout:fragment="script">
  </th:block>
  <th:block layout:fragment="css">
  </th:block>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
<!-- 공용 header -->
<th:block th:replace="~{layout/header :: headerFragment}"></th:block>

<!-- content -->
<th:block layout:fragment="content"></th:block>

</body>

</html>